/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face{ 
	font-family: Calligraffiti;
	src: url('../rsc/font/Calligraffiti/Calligraffiti-webfont.eot');
	src: url('../rsc/font/Calligraffiti/Calligraffiti-webfont.eot?iefix') format('eot'),
	     url(../rsc/font/Calligraffiti/Calligraffiti-webfont.ttf) format('truetype'),
	     url('../rsc/font/Calligraffiti/Calligraffiti-webfont.woff') format('woff'),
	     url('../rsc/font/Calligraffiti/Calligraffiti-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: Montez;
	src: url('../rsc/font/Montez/Montez-Regular-webfont.eot');
	src: url('../rsc/font/Montez/Montez-Regular-webfont.eot?iefix') format('eot'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.ttf') format('truetype'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.woff') format('woff'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.svg#webfont') format('svg');
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Lyly & Alex Styles ==================================================
   Author: Alexandre François
   ========================================================================== */
   
#logo-wrapper {
	margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    width:14em;
    height:16em;
    margin-top: -7em; /*set to a negative number 1/2 of your height*/
    margin-left: -8em; /*set to a negative number 1/2 of your width*/
}

#homePage{
	position:absolute;
 	width: auto;
 	height: auto;
 	min-height: 100%;
	min-width: 100%;
	/* For browsers that do not support gradients */
	background: #003366;
	/* Safari 5.1 to 6.0 */ 
	background: -webkit-radial-gradient(#006699, #003366);
	/* For Opera 11.6 to 12.0 */
	background: -o-radial-gradient(#006699, #003366);
	/* For Firefox 3.6 to 15 */
	background: -moz-radial-gradient(#006699, #003366);
	/* Standard syntax */
	background: radial-gradient(#006699, #003366);
}

#homeLogo {
 	width: auto;
 	height: auto;
 	max-width: 100%;
 	max-height: 100%;
 }
/* --------------- Quote --------------- */
#quotePlace {
	position:absolute;
	word-wrap: break-word;
	width: 27em;
	height: 18em;
}

.hiddenQuote {
	visibility: hidden;
}

.hiddenQuoteAuthor {
	visibility: hidden;
}

.visibleQuote {
	position:absolute;
	color: #FFFFFF;
}

.visibleQuoteAuthor{
	position:absolute;
}

.quote {
	font-size: 2em;
	font-family: Montez;
	font-weight: bold;
	font-style: italic;
}

.quoteAuthor {
	margin: 0.4em 9% auto;
	font-size: 1.9em;
	font-family: Calligraffiti;
	font-weight: 900;
	font-style: italic;
}