/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face{ 
	font-family: Calligraffiti;
	src: url('../rsc/font/Calligraffiti/Calligraffiti-webfont.eot');
	src: url('../rsc/font/Calligraffiti/Calligraffiti-webfont.eot?iefix') format('eot'),
	     url(../rsc/font/Calligraffiti/Calligraffiti-webfont.ttf) format('truetype'),
	     url('../rsc/font/Calligraffiti/Calligraffiti-webfont.woff') format('woff'),
	     url('../rsc/font/Calligraffiti/Calligraffiti-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: Montez;
	src: url('../rsc/font/Montez/Montez-Regular-webfont.eot');
	src: url('../rsc/font/Montez/Montez-Regular-webfont.eot?iefix') format('eot'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.ttf') format('truetype'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.woff') format('woff'),
	     url('../rsc/font/Montez/Montez-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: Lobster;
	src: url('../rsc/font/Lobster/lobster_1.3-webfont.eot');
	src: url('../rsc/font/Lobster/lobster_1.3-webfont.eot?iefix') format('eot'),
	     url('../rsc/font/Lobster/lobster_1.3-webfont.ttf') format('truetype'),
	     url('../rsc/font/Lobster/lobster_1.3-webfont.woff') format('woff'),
	     url('../rsc/font/Lobster/lobster_1.3-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: Penultimate;
	src: url('../rsc/font/PenultimateLight/penultimatelight_regular-webfont.eot');
	src: url('../rsc/font/PenultimateLight/penultimatelight_regular-webfont.eot?iefix') format('eot'),
	     url('../rsc/font/PenultimateLight/penultimatelight_regular-webfont.ttf') format('truetype'),
	     url('../rsc/font/PenultimateLight/penultimatelight_regular-webfont.woff') format('woff'),
	     url('../rsc/font/PenultimateLight/penultimatelight_regular-webfont.svg#webfont') format('svg');
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Lyly & Alex Styles ==================================================
   Author: Alexandre François
   ========================================================================== */
   
#logo-wrapper {
	margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    width:14em;
    height:16em;
    margin-top: -7em; /*set to a negative number 1/2 of your height*/
    margin-left: -8em; /*set to a negative number 1/2 of your width*/
}

#homePage{
	position:absolute;
 	width: auto;
 	height: auto;
 	min-height: 100%;
	min-width: 100%;
	background-image: url("/rsc/img/caricature.jpg");
}

#homeLogo {
 	width: auto;
 	height: auto;
 	max-width: 100%;
 	max-height: 100%;
 }
/* --------------- Quote --------------- */
#quotePlace {
	position: absolute;
	background: #3399cc;
	left: 0;
	bottom: 0;
	right: 0;
	height: 7em;
}

#quotePartOne {
	position:absolute;
	color: #3399cc;
	font-size: 7em;
	font-family: Lobster;
	font-weight: bold;
	top: -1em;
	left: 0.3em;
	text-shadow: 0 0 5px #FFF; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #FFF;
  -webkit-text-shadow: 0 0 2px #FFF;
}

#quotePartTwo{
	position:absolute;
	word-wrap: break-word;
	top: 0.27em;
	left: 1.9em;
	font-size: 2.3em;
	font-family: Penultimate;
	color: #FFFFFF;
	width: 80%;
}

.quote {
	font-weight: bold;
	font-style: italic;
}

#quoteAuthor {
	position:absolute;
	bottom: 0.2em;
	right: 5em;
	font-size: 1.9em;
	font-family: Calligraffiti;
	font-weight: 900;
}